<!-- form-create.component.html -->
<div class="page" #creatorContainer>

  <div class="creator-wrap">
    <!-- خودِ Survey Creator -->
    <survey-creator [model]="creator"></survey-creator>
  </div>

   <!-- نوار عمل چسبان پایین -->
  <div class="action-bar">
    <div class="float-left">
      <span class="status-chip" [class.dirty]="dirty">
 {{ (dirty ? LK.UnsavedChanges : LK.Saved) | abpLocalization }}      </span>
    </div>
    <div class="right">
    <button type="button" class="btn btn-outline" (click)="saveDraft()" title="Ctrl+S">
      {{ LK.SaveDraft | abpLocalization }}
    </button>
    <button type="button" class="btn btn-primary" [disabled]="dirty" (click)="confirmPublish()" title="Ctrl+Shift+S">
      {{ LK.SaveAndPublishBtn | abpLocalization }}
    </button>
  </div>
  </div>
</div>

