<!-- form-create.component.html -->
<div class="page" #creatorContainer>

  <div class="creator-wrap">
    <!-- خودِ Survey Creator -->
    <survey-creator [model]="creator"></survey-creator>
  </div>

  <div class="actions mt-3 d-flex gap-2">
    <button class="btn btn-primary" (click)="save()" [disabled]="metaForm.invalid">
      {{ 'Forms:Save' | abpLocalization }}
    </button>
    <button class="btn btn-outline-secondary" (click)="saveDraftToLocal()">
      {{ 'Forms:SaveDraft' | abpLocalization }}
    </button>
    <button class="btn btn-outline-danger" (click)="clearDraft()">
      {{ 'Forms:ClearDraft' | abpLocalization }}
    </button>
  </div>
</div>
